

$font-weight-lighter:         lighter !default;

/*
  sass build function
*/
$link-hover-color:  darken($link-color, 15%) !default;
$hover-background: lighten($background, 7.5%);


// Placeholder Selectors: %foo
%heading {
  margin-top: 0; // 1
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

// @extend 展开某个定义好的selector
h1 {
  @extend %heading;
  font-size: $h1-font-size;
}


// 注意 sass 中partial 文件以 _开头，index.scss 中导入的文件名不加 _
// partial 文件不会被编译成 css
@import "variables";


$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;

/*
  @mixin smaple
*/
@mixin button-size($padding-y, $padding-x, $font-size, $border-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-raduis;
}

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}